*
	background-color: #343a40
	padding-top: 5px

.icon 
	text-decoration: none
	border-bottom: none
	position: relative
	
ul.icons 
	cursor: default
	list-style: none
	padding-left: 0
	color: #ffffff

.logo
	height: 130px

.year
	display: inline-block
	margin: auto
	color: #aaa