#banner 
	background-image: url(/assets/banner.jpg);
	background-position: center center;
	background-size: cover;
	padding: 14em 0em 14em;
	text-align: center;

#banner h2 
	color: #ffcc00;
	font-weight: 700
	font-family: 'Poppins', sans-serif
	font-size: 4em;
	line-height: 1.25em;
	padding: 0;

#banner p
	color: #ffffff
	font-family: 'Roboto',sans-serif;