<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-xs-12 col-md-4">
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/baches" data-chrome="nofooter" data-widget-id="936586641162022917">#baches Tweets</a>
      </div>
      <div class="col-xs-12 col-md-8 align-middle">
          <div class="row d-flex align-items-center justify-content-center">
            <div id="map"></div>
          </div>
      </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <li *ngFor="let item of res">
      {{ item }}
    </li>
  </div>
</div>
