<div class="container-fluid">
    <div class="titulo row d-flex align-items-center justify-content-center">
        <h2>Las Calles en México</h2>
    </div>
    <app-graph-bar></app-graph-bar>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="style2 col-xs-12 col-md-3">
          <div class="row d-flex align-items-center justify-content-center">
            <h2>85%</h2>
            <p class="parrafo text-center">Mexicanos consideran a los baches un mayor problema que la delincuencia (¡!).</p>
          </div>
        </div>
        <div class="style2 col-xs-12 col-md-4">
          <div class="row d-flex align-items-center justify-content-center">  
            <h2>83%</h2>
          </div>
          <div class="row d-flex align-items-center justify-content-center">
          </div>
          <div class="row d-flex align-items-center justify-content-center">
            <p class="parrafo">Opina que las calles estan en mal estado.</p>
          </div>
        </div>
        <div class="style2 col-xs-12 col-md-3">
            <div class="row d-flex align-items-center justify-content-center">
              <h2>+24,000</h2>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
            <p class="parrafo">Los baches reportados en la CDMX durante 2017.</p>
            </div>
        </div>
    </div>
    <div class="titulo row d-flex align-items-center justify-content-center">
      <h2>¿A quiénes corresponde la responsabilidad?</h2>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="style2 col-xs-12 col-md-3 align-items-center justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">
              <h2>70%</h2>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
              <p class="parrafo">Considera responsable al gobierno municipal.</p>
            </div>
        </div>
        <div class="style2 col-xs-12 col-md-4">
            <div class="row d-flex align-items-center justify-content-center">
              <h2>18%</h2>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
              <p class="parrafo">Considera responsable al gobierno estatal.</p>
            </div>
        </div>
        <div class="style2 col-xs-12 col-md-3">
            <div class="row d-flex align-items-center justify-content-center">
              <h2>8%</h2>
            </div>
            <div class="row d-flex align-items-center justify-content-center">
              <p class="parrafo">Considera responsable al gobierno federal.</p>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10 align-items-center">
          <h2 class="text-center">¿Cúal es la solución?</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6">
          <ul>
            <li>Concientización</li>
            <li>Usar concreto asfáltico</li>
            <li>Educación vial</li>
            <li>Exigir vehículos más seguros</li>
          </ul>
        </div>  
      </div>
    </div>
  <div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-10 align-items-center">
        <h2 class="text-center">¿Cómo cobrar el daño a tu automóvil ocasionado por bache o coladera?</h2>
      </div>
    </div>
</div>