<div class="container-fluid calles" id="info">
    <div class="row titulo d-flex align-items-center justify-content-center">
      <h2>¿A quiénes consideramos responsables?</h2>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <p>De acuerdo a la Encuesta Nacional de Seguridad Pública Urbana (ENSU) publicada por el INEGI en septiembre del 2017:</p>
      </div>
    <div class="row conos d-flex justify-content-center">
      <div class="col-xs-10 col-md-3">
        <img class="cone1" src="/assets/traffic_cone.png">
      </div>
      <div class="col-xs-10 col-md-3">
        <img class="cone2" src="/assets/traffic_cone.png">
      </div>
      <div class="col-xs-10 col-md-3">
        <img class="cone3" src="/assets/traffic_cone.png">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xs-10 col-md-3">
        <h2 class="cifra">70%</h2>
      </div>
      <div class="col-xs-10 col-md-3">
        <h2 class="cifra">18%</h2>
      </div>
      <div class="col-xs-10 col-md-3">
        <h2 class="cifra">8%</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-xs-10 col-md-3">
        <p class="parrafo">Gobierno Municipal.</p>
      </div>
      <div class="col-xs-10 col-md-3">
        <p class="parrafo">Gobierno Estatal.</p>
      </div>
      <div class="col-xs-10 col-md-3">
        <p class="parrafo">Gobierno Federal.</p>
      </div>
    </div>      
</div>
<!--
  <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10 align-items-center">
          <h2 class="text-center">¿Cúal es la solución?</h2>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-6">
          <ul>
            <li>Concientización</li>
            <li>Usar concreto asfáltico</li>
            <li>Educación vial</li>
            <li>Exigir vehículos más seguros</li>
          </ul>
        </div>  
      </div>
    </div>
-->