#info
    padding-top 30px

.calles
	background-image: url(/assets/reparation.jpg);
	background-position: center center;
	background-size: cover;
	text-align: center;

p
    color: #ffffff
    font-family: 'Roboto', sans-serif
    text-align: center
    padding-bottom: 10px

.titulo h2
	color #ffcc00
	font-family 'Poppins', sans-serif
    text-align center
	line-height 1.25em
    font-weight: 700
    padding-bottom: 30px


.cifra
    color #FF9A0B
    font-family 'Poppins', sans-serif
    font-size 2.2em
    font-weight 700
    padding-top: 8px

.test
    vertical-align: bottom

.parrafo 
    color #ffffff
    font-size 16px
    line-height 24px
    font-family 'Roboto', sans-serif

h1
    color #3d3624

.conos
    position: relative

.cone1
    width 140px
    height auto

.cone2
    width 26px
    height auto
    position: absolute
    bottom: 0
    right: auto

.cone3
    width 16px
    height auto
    position: absolute
    bottom: 0