#info
    padding-top: 20px

.titulo
    padding-bottom: 25px

.parrafo 
    color: #1d1d1d
    font-family: Lato, Helvetica, Arial, sans-serif
    font-size: 16px
    line-height: 24px
    font-weight: 300
    height: 160px

h1
    color: #3d3624

.style2 
    h2
        color: #e39203
    p
        color: #844519