.definition
    background-color: #303030

.icon
    padding-top: 30px
    color: #ffcc00

h3
    color: #ffcc00
    font-family: 'Poppins', sans-serif
    font-weight: 700
    padding-top: 10px
    padding-bottom: 20px
    margin: 0
    text-align: center

p
    color: #ffffff
    font-family: 'Roboto'
    text-align: center
    padding-bottom: 10px