<div class="container-fluid definition">
  <div class="row d-flex align-items-center justify-content-center">
    <i class="icon fa fa-road fa-4x" aria-hidden="true"></i>        
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-xs-10 col-md-6">
      <h3 class="subtitle">¿Qué son los baches?</h3>
      <p>Los baches son agujeros o fracturas que se presentan en los caminos por una combinación de factores como lo son el uso excesivo, el clima, la temperatura, entre otros.</p>
    </div>
  </div>
</div>
