.calles
	background-color: #ffcc00
	text-align: center;

.fila
	padding-bottom: 15px

h2
	font-family: 'Poppins', sans-serif
	font-weight: 700
	color: #090909
	padding-top: 30px

.cifra
	color #090909

p
	font-family: 'Roboto', sans-serif
	color: #090909